.basic-nav-bar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.nav-item {
    text-decoration: none;
    margin: 0px 5px;
    padding: 5px 0px;
    color: black;
}
.nav-item-active {
    border-bottom: 1px solid black;
}

.basic-logo {
    cursor: pointer;
}