.basic-sign-in-page-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 30px;
}


.basic-sign-in-form-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 50px 30px 30px;

  h2 {
    margin: 10px 0;
  }

  .basic-buttons-container {
    display: flex;
    justify-content: space-between;
  }
}

.basic-sign-up-form-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 50px 30px 30px;

  h2 {
    margin: 10px 0;
  }
}