@import './fonts.scss';

body {
  margin: 0;
  font-family: 'OpenSans-redefined', sans-serif, 'Open Sans Condensed', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import '../../Components/Navbar/style.scss';
@import '../../Container/HomePage/style.scss';
@import '../../Components/CategoryCard/styles.scss';