@import './fonts.scss';

body {
  margin: 0;
  font-family: 'OpenSans-redefined', sans-serif, 'Open Sans Condensed', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import '../../Components/Navbar/style.scss';
@import '../../Components/CategoryCard/styles.scss';
@import '../../Components/FormInput/styles.scss';
@import '../../Components/Button/styles.scss';

@import '../../Container/HomePage/style.scss';
@import '../../Container/SigninPage/styles.scss';